<div class="flex flex-column mt-5">
    <div class="flex justify-content-center">
        <h2>Lugares de interes</h2>
    </div>
    <div class="flex justify-content-center">
        <div class="grid" style="width: 75%;">
            <div class="col-12">

                <p>Descubre los tesoros de nuestra zona y enriquece tu estancia explorando los mejores lugares que
                    tenemos
                    para
                    ofrecer. Desde playas y calas escondidas hasta restaurantes con encanto y centros culturales, aquí
                    encontrarás una selección de los lugares más destacados que harán de tu visita una experiencia
                    inolvidable.
                </p>
            </div>

            <div class="col-6">

                <strong>Restaurantes y Gastronomía</strong>
                <hr>
                <p>
                    Disfruta de la cocina local en una variedad de restaurantes, desde tabernas tradicionales hasta
                    opciones
                    gourmet junto al mar. Te ofrecemos recomendaciones de los mejores lugares donde podrás saborear los
                    ingredientes y recetas típicas de la región.
                </p>

                <strong>Playas y Calas</strong>
                <hr>
                <p> Relájate en playas de arena fina o aventúrate a descubrir calas escondidas que ofrecen un entorno
                    más
                    íntimo. Nuestra selección incluye algunas de las mejores playas para disfrutar del sol, el mar, y
                    hermosas vistas naturales.
                </p>
            </div>
            <div class="col-6">

                <strong>Centros Culturales e Historia</strong>
                <hr>
                <p> Sumérgete en la rica historia y cultura de la zona. A pocos minutos de nuestra casa encontrarás
                    museos,
                    centros culturales y sitios históricos que te permitirán conocer más sobre el patrimonio y las
                    tradiciones locales.
                </p>
                <strong>Actividades al Aire Libre</strong>
                <hr>
                <p>Para los amantes de la naturaleza, también hay rutas de senderismo, paseos en barco, y otras
                    actividades
                    al aire libre que te conectarán con la belleza natural de nuestro entorno.

                    Explora y disfruta de todos estos lugares que te recomendamos para vivir una experiencia completa y
                    auténtica en la región. ¡Esperamos que estos rincones te enamoren tanto como a nosotros!
                </p>
            </div>
        </div>
    </div>
</div>