<div class="flex flex-column mt-5">
    <div class="flex justify-content-center">
        <h2>Contacta con nosotros</h2>
    </div>
    <div class="col-12 flex justify-content-center">
        <div style="width: 75%;">
            <p>
                Estamos aquí para ayudarte a planificar una estancia perfecta. Si tienes alguna pregunta sobre la
                disponibilidad, reservas, o cualquier detalle sobre nuestra casa, no dudes en ponerte en contacto con
                nosotros.
                Nuestro equipo estará encantado de atenderte y brindarte toda la información que necesites.

            </p>
        </div>
    </div>
    <div class="grid">
        <div class="col-12">
            <div class="flex flex-column">

                <div class="col-12 flex justify-content-center">
                    <div style="width: 75%;">

                        <hr>
                        <div class="flex justify-content-center">
                            <h4>Formulario de Contacto</h4>
                        </div>
                        <p>Completa el formulario con tus datos y tu consulta, y te responderemos a la mayor
                            brevedad
                            posible.
                            También
                            puedes especificar cualquier solicitud especial o requerimiento adicional que tengas
                            para tu
                            estancia.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 flex justify-content-center">
                <div style="width: 75%;">
                    <hr>
                    <div class="col-12">
                        <div class="flex justify-content-center">

                            <h4>Otros Medios de Contacto</h4>
                        </div>
                        <div class="flex justify-content-center">
                            <p>Si prefieres comunicarte por otros medios, puedes escribirnos directamente a nuestro
                                correo
                                electrónico o
                                llamarnos. ¡Estaremos felices de atender tus preguntas!</p>
                        </div>
                    </div>

                    <div class="flex justify-content-center">
                        <ul>
                            <li> <strong>Correo electrónico:</strong>
                            </li>
                            <li><strong>Teléfono:</strong> +34 620 630 761
                            </li>
                            <li> <strong>Horario de Atención:</strong>

                            </li>
                            <li><strong>Lunes a Viernes:</strong> 9:00 a 18:00</li>
                            <li> <strong>Sábados:</strong> 10:00 a 14:00</li>
                        </ul>
                    </div>
                </div>
            </div>