<div class="container">
  <div class="content">
    <app-layout>
      <router-outlet />
    </app-layout>
  </div>
  <footer class="footer">
    <div class="footer-content">
      <div class="footer-section">
        <h3>Acerca de</h3>
        <ul>
          <li><a>Quiénes somos</a></li>
          <li><a>Misión y Visión</a></li>
          <li><a>Valores</a></li>
        </ul>
      </div>

      <div class=" footer-section">
        <h3>Enlaces</h3>
        <ul>
          <li><a>Política de privacidad</a></li>
          <li><a>Términos de uso</a></li>
          <li><a>Soporte</a></li>
        </ul>
      </div>

      <div class="footer-section">
        <h3>Redes Sociales</h3>
        <ul>
          <li><a href="https://Facebook.com" class="pi pi-facebook"> Facebook</a>
          </li>
          <li><a href="https://instagram.com" class="pi pi-instagram"> Instagram</a></li>
        </ul>
      </div>
    </div>

    <div class="footer-bottom">
      <p>&copy; 2024 Casa Trastevere. Todos los derechos reservados.</p>
    </div>
  </footer>
</div>