<div class="flex flex-column mt-8 mb-5">
  <div class="flex align-items-center justify-content-center">
    <h3>Registrar cuenta</h3>
  </div>
</div>

<div class="grid">
  <div class="col-3">
    <div class="card bg-red-400 p-2 border-round text-white">
      @for (item of messages; track $index) { @if (!item.validate()) {
      <div class="flex align-content-center ">

        <i class="pi pi-info-circle mr-2"></i>
        <p class="m-0 p-0 ">{{item.detail}}</p>
      </div>
      } }
    </div>
  </div>
  <form [formGroup]="form" class="col-6 grid">
    <div class="col-6 mb-2">
      <p-floatLabel>
        <input class="w-full" pInputText id="name" formControlName="name" autocomplete="name" />
        <label for="name">Nombre*</label>
        @if(this.registerFormControl['name'].invalid &&
        (this.registerFormControl['name'].dirty ||
        this.registerFormControl['name'].touched) ) { }
      </p-floatLabel>
    </div>

    <div class="col-6 mb-2">
      <p-floatLabel>
        <input class="w-full" pInputText id="surname" formControlName="surname" autocomplete="additional-name" />
        <label for="surname">Apellidos*</label>
        @if(this.registerFormControl['surname'].invalid &&
        (this.registerFormControl['surname'].dirty ||
        this.registerFormControl['surname'].touched) ) { }
      </p-floatLabel>
    </div>
    <div class="col-6 mb-2">
      <p-floatLabel>
        <input class="w-full" pInputText id="cif" formControlName="cif" autocomplete="dni" />
        <label for="cif">DNI*</label>
      </p-floatLabel>
    </div>
    <div class="col-6 mb-2">
      <p-floatLabel>
        <p-calendar styleClass="w-full" id="bornDate" formControlName="bornDate" />
        <label for="birth_date">Fecha nacimiento*</label>
      </p-floatLabel>
    </div>
    <div class="col-12 mb-2">
      <p-floatLabel styleclass="w-full">
        <input class="w-full" pInputText id="address" formControlName="address" autocomplete="address-level1"
          maxlength="150" />
        <label for="address">Direccion*</label>
      </p-floatLabel>
    </div>
    <div class="col-12 mb-2">
      <p-floatLabel>
        <input class="w-full" pInputText id="phone" formControlName="phone" autocomplete="phone" />
        <label for="phone">Movil*</label>
      </p-floatLabel>
    </div>
    <div class="col-6 mb-2">
      <p-floatLabel class="w-full">
        <input class="w-full" pInputText id="email" formControlName="email" autocomplete="email" />
        <label for="email">E-mail*</label>
      </p-floatLabel>
    </div>
    <div class="col-6 mb-2">
      <p-floatLabel>
        <p-password inputStyleClass="w-full" styleClass="w-full" formControlName="password" [feedback]="false" />
        <label for="password">Contraseña*</label>
      </p-floatLabel>
    </div>
    <div class="col-6 mb-2">
      <p-floatLabel>
        <input class="w-full" pInputText id="email" formControlName="remail" autocomplete="email" />
        <label for="email">Repite e-mail*</label>
      </p-floatLabel>
    </div>
    <div class="col-6 mb-2">
      <p-floatLabel>
        <p-password inputStyleClass="w-full" styleClass="w-full" formControlName="repassword" [feedback]="false" />
        <label for="password">Repite contraseña*</label>
      </p-floatLabel>
    </div>

    <div class="col-12 flex align-items-center justify-content-around">
      <p-button label="Enviar" (onClick)="onRegister()" />
    </div>
  </form>
  <div class="col-3"></div>
</div>